<ion-header>
  <ion-toolbar>
    <ion-title>PokeCatch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Used to render the camera stream images -->
  <canvas #canvas hidden></canvas>

  <ion-grid>

    <ion-row>
        <!-- Shows our camera stream -->
        <video #video [hidden]="!scanActive" class="video"></video>
    </ion-row>

    <ion-row>
        <!-- Stop our scanner preview if active -->
        <!-- *ngIf="scanActive" -->
        <ion-button expand="full" (click)="stopScan()" color="danger" >
          <ion-icon slot="start" name="close"></ion-icon>
          Stop scan
        </ion-button>
    </ion-row>

  </ion-grid>

</ion-content>