ion-header {
    position: fixed;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    filter: opacity(94%);

    width: 100%;
    height: 60px;

    h1 {
        margin: 0;
        font-size: 36px;
        font-family: power-up;
    }

    ion-button {
        margin-left: 8px;
        margin-right: 8px;
    }
}

ion-content {
    width: 100%;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;
        background-image: url("../../assets/perfil_wp.jpg");
        filter: opacity(40%);

        background-repeat: no-repeat;
        background-size: cover;
    }

    .main {
        position: fixed;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        margin-top: 3vh;

        filter: opacity(92%);

        .intern {
            padding: 2vh;
            background-color: white;

            .profile {
                img {
                    $imgSize: 30vh;

                    width: $imgSize;
                    height: $imgSize;
                    border-radius: 50%;
                    border: 5px solid rgb(185, 185, 185);
                }
            }

            .content {
                font-size: 32px;

                ul {
                    margin-top: 10px;

                    li {
                        margin-top: 35px;
                    }
                }
            }
        }
    }
}
