<ion-header>
    <ion-button color="danger" size="medium" type="submit" (click)="cancelar()" expand="block">{{llistatApartats.boto1}}
    </ion-button>
    <h1>{{llistatApartats.titol}}</h1>

    <ion-button size="medium" type="submit" id="boto_dels_collons" (click)="acceptar(form)" expand="block">
        {{llistatApartats.boto2}}
    </ion-button>


</ion-header>

<ion-content padding>

    <div class="background">
    </div>

    <div class="main">
        <form #form="ngForm" (ngSubmit)="acceptar(form)" [formGroup]="perfilForm" class="formulari">

            <!-- Elements formulari amb els seus errors -->
            <ul class="inputs">

                <!-- Imatge de perfil -->
                <li class="imatge">
                    <ion-card>
                        <ion-img id="fotoPerfil" name="camera" capture="camera" [src]="perfil.imatge"
                            (click)="addPhotoToGallery()"></ion-img>
                    </ion-card>
                </li>

                <!-- Label per canviar d'imatge -->
                <!--                 <ion-fab-button >
                    <ion-icon ></ion-icon>
                </ion-fab-button> -->

                <!-- Nom -->
                <li>
                    <input placeholder="nombre" [(ngModel)]="perfil.nom" name="nom" formControlName="nom">
                </li>
                <!-- Error nom -->
                <ion-label>
                    <li class="error" *ngIf="validador('nomMax')">
                        {{llistatErrors.nomLlarg}}</li>
                    <li class="error" *ngIf="validador('nomMin')">
                        {{llistatErrors.nomCurt}}</li>
                    <li class="error" *ngIf="validador('nomInvalid')">
                        {{llistatErrors.nomWrong}}</li>
                </ion-label>

                <div class="separador"></div>

                <!-- Cognom -->
                <li>
                    <input placeholder="apellidos" [(ngModel)]="perfil.cognoms" name="cognom" formControlName="cognom">
                </li>
                <!-- Error cognom -->
                <ion-label>
                    <li class="error" *ngIf="validador('cognomInvalid')">
                        {{llistatErrors.cognomWrong}}</li>
                    <li class="error" *ngIf="validador('cognomMin')">
                        {{llistatErrors.cognomCurt}}</li>
                    <li class="error" *ngIf="validador('cognomMax')">
                        {{llistatErrors.cognomLlarg}}</li>
                </ion-label>

                <div class="separador"></div>

                <!-- Edat -->
                <li>
                    <input placeholder="edad" [(ngModel)]="perfil.edat" name="edat" formControlName="edat">
                </li>
                <!-- Error edat -->
                <ion-label>
                    <li class="error" *ngIf="validador('edatMax')">
                        {{llistatErrors.edatMax}}</li>

                    <li class="error" *ngIf="validador('edatMinim')">
                        {{llistatErrors.edatMin}}</li>

                    <li class="error" *ngIf="validador('edatTipus')">
                        {{llistatErrors.tipusNumber}}</li>
                </ion-label>

            </ul>
        </form>

        <div class="register-row">
            <a routerLink='/register'> </a>
        </div>
    </div>

</ion-content>