<ion-header>
    <ion-button size="medium" type="submit" (click)="cancelar()" expand="block">Cancelar</ion-button>
    <h1>Perfil</h1>
    <ion-button size="medium" type="submit" (click)="aceptar()" expand="block">Aceptar</ion-button>
</ion-header>

<ion-content padding>
    <div class="background">
    </div>

    <div class="main">
        <div class="intern">
            <!-- Imatge perfil -->
            <article class="profile">
                <img src={{perfil.img}} alt="img">
            </article>

            <!-- Informació de l'usuari -->
            <article class="content">
                <ul>
                    <li> Nom: {{perfil.nom}}</li>
                    <li> Cognom: {{perfil.cognoms}}</li>
                    <li> Edat: {{perfil.edat}} </li>
                </ul>
            </article>
        </div>

    </div>
</ion-content>