<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <button ion-button (click)="cancelar()">Cancelar</button>
        </ion-buttons>

        <ion-title>modalQrScanner</ion-title>

        <ion-buttons slot="end">
            <button ion-button (click)="aceptar()">Aceptar</button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content>

    <section class="content">
        <!-- Botons Cancel i OK -->


        <!-- Imatge perfil -->
        <article class="profile">
            <img src={{perfil.img}} alt="img">
        </article>

        <!-- Informació de l'usuari -->
        <article class="content">
            <ul>
                <li> Nom: {{perfil.nom}}</li>
                <li> Cognom: {{perfil.cognoms}}</li>
                <li> Edat: {{perfil.edat}} </li>
            </ul>

        </article>

    </section>

</ion-content>