<ion-content padding>
  <div class="background">
  </div>

  <div class="main">
    <form #form="ngForm" (ngSubmit)="login(form)" [formGroup]="loginForm" class="formulari">
      <div class="titol">
        <h3>{{llistatApartats.titol}}</h3>
      </div>

      <!-- Elements formulari amb els seus errors -->
      <ul class="inputs">
        <!-- Email -->
        <li lines="none" class="entrada">
          <input (blur)="elmClicats.email=true" id="email" name="email" type="email" placeholder="nombre@email.com"
            formControlName="email" required>
        </li>
        <!-- Error email -->
        <ion-label *ngIf="elmClicats.email">
          <li class="error" *ngIf="loginForm.hasError('required', 'email')">
            {{llistatErrors.emailBuit}}</li>
          <li class="error" *ngIf="loginForm.hasError('pattern', 'email')">
            {{llistatErrors.emailFormat}}</li>
          <li class="error" *ngIf="loginForm.hasError('maxlength', 'email')">
            {{llistatErrors.emailLengthmax}}</li>
          <li class="error" *ngIf="emailIncorrecte">
            {{llistatErrors.wrongMail}}</li>
        </ion-label>

        <div class="separador"></div>

        <!-- Password -->
        <li lines="none" class="entrada">
          <input (blur)="elmClicats.password=true" id="password"  name="password" type="password" placeholder="contraseña"
            formControlName="password" required>
        </li>
        <!-- Error password -->
        <ion-label *ngIf="elmClicats.password">
          <li class="error" *ngIf="loginForm.hasError('required', 'password')">
            {{llistatErrors.passBuit}}</li>
          <li class="error" *ngIf="loginForm.hasError('minlength', 'password')">
            {{llistatErrors.passLength}}</li>
          <li class="error" *ngIf="loginForm.hasError('maxlength', 'password')">
            {{llistatErrors.passLengthMax}}</li>
          <li class="error" *ngIf="passwordIncorrecte">
            {{llistatErrors.wrongPass}}</li>
        </ion-label>

      </ul>

      <!-- Botó -->
      <div>
        <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">
          {{llistatApartats.boto}}</ion-button>
      </div>
    </form>

    <div class="register-row">
      {{llistatApartats.ferRegister}}
      <a (click)="registrar()"> {{llistatApartats.register}}</a>
    </div>
  </div>
</ion-content>