<!-- Barra superior -->
<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-searchbar #gallineta showCancelButton="focus" placeholder="Buscar"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<!-- Menú lateral -->
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>PokeMenu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item button (click)="obrir_modal_perfil()">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>

      <ion-item button (click)="logout()">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<!-- Slider imatges pokemon -->
<div id="slider_pokemon">
  <ion-slides pager="true" [options]="sliderPokemons" #slideWithNav (ionSlideDidChange)="SlideDidChange(slideWithNav)">
    <ion-slide id="slide_onic" *ngFor="let pokemon of sliderPokemons.pokemons">
      <div id="slide_zona_text">
        <h1 id="titol">{{pokemon.name}}</h1>

        <div id="info_pokemon">
          <ion-label>Tipo: {{pokemon.type}}</ion-label>
          <ion-label>Peso: {{pokemon.weight/10}} kg</ion-label>
          <ion-label>Altura: {{pokemon.height/10}} m</ion-label>
        </div>
      </div>
      <ion-img class="imatge" src="{{pokemon.image}}"></ion-img>
    </ion-slide>
  </ion-slides>
</div>

<!-- List pokemon -->
<ion-content>
  <ion-list id="llistat_pokemon">

    <div *ngFor="let pokemon of sliderPokemons.pokemons">

      <div *ngIf="fakePipe(gallineta.value, pokemon.name)">

        <ion-item button (click)="click_pokemon(slideWithNav, pokemon.index)">

          <ion-thumbnail slot="start">
            <ion-img [src]="pokemon.image"></ion-img>
          </ion-thumbnail>

          <ion-label>{{pokemon.name}}</ion-label>

        </ion-item>
      </div>
    </div>

  </ion-list>
</ion-content>
<app-tabs></app-tabs>
