ion-header {
  ion-toolbar {
    ion-buttons {
      ion-menu-button {
      }

      ion-searchbar {
      }
    }
  }
}

ion-buttons {
  margin: auto;
  flex-basis: 50px;
}

/*  */
#slider_pokemon {
  display: flex;
  /*  flex-flow: column; */
  background-color: rgb(206, 206, 253);
  width: 100%;
  height: 50%;

  #slide_onic {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;

    .imatge {
      display: flex;
      align-self: center;
      width: 40vw;
      height: 40vh;
    }

    #slide_zona_text {
      display: flex;
      flex-flow: column;
      height: 100%;

      #titol {
        display: flex;
        height: 50%;
        align-items: center;
        font-size: 40px;
        font-family: power-up;
      }

      #info_pokemon {
        display: flex;
        height: 50%;
        flex-flow: column;
        align-items: flex-start;

        ion-label {
          padding-top: 8px;
        }
      }
    }
  }
}

#llistat_pokemon {
  /*   position: relative;
  background-color: red !important; */
}
/*  */

/*  */
.custon-nav {
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom {
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled {
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom {
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled {
  opacity: 0.4;
  cursor: default;
}
.slider-nav {
  ion-icon {
    height: 100%;
  }
}

.slide-text {
  position: absolute;
  color: white;
  bottom: 30px;
}
/*  */

/*  */

.sub-headers {
  padding-left: 20px;
  text-align: center;
  font-weight: bold;
}
/*  */

ion-footer {
  height: 40px;
}
