<ion-content>
  <div class="background">
  </div>

  <div class="main">
    <form #form="ngForm" (ngSubmit)="register(form)" [formGroup]="registerForm" class="formulari">
      <div class="titol">
        <h3>{{llistatApartats.titol}}</h3>
      </div>

      <!-- Elements formulari amb els seus errors -->
      <ul padding class="inputs">
        <!-- Nom -->
        <li lines="none" class="entrada">
          <input (blur)="elmClicats.nom=true" name="nom" type="text" placeholder="nombre" formControlName="nom"
            required>
        </li>
        <!-- Error nom -->
        <ion-label *ngIf="elmClicats.nom">
          <li class="error" *ngIf="registerForm.hasError('required', 'nom')">
            {{llistatErrors.nomBuit}}</li>
          <li class="error" *ngIf="registerForm.hasError('minlength', 'nom')">
            {{llistatErrors.nomLength}}</li>
          <li class="error" *ngIf="registerForm.hasError('maxlength', 'nom')">
            {{llistatErrors.nomLengthMax}}</li>
        </ion-label>

        <div class="separador"></div>

        <!-- Email -->
        <li lines="none" class="entrada">
          <input (blur)="elmClicats.email=true" name="email" type="email" placeholder="nombre@email.com"
            formControlName="email" required>
        </li>
        <!-- Error email -->
        <ion-label *ngIf="elmClicats.email">
          <li class="error" *ngIf="registerForm.hasError('required', 'email')">
            {{llistatErrors.emailBuit}}</li>
          <li class="error" *ngIf="registerForm.hasError('pattern', 'email')">
            {{llistatErrors.emailFormat}}</li>
          <li class="error" *ngIf="registerForm.hasError('maxlength', 'email')">
            {{llistatErrors.emailLengthmax}}</li>

          <!-- Error amb email ja existent -->
          <li class="error" *ngIf="mailRepetit">
            {{llistatErrors.repeatMail}}</li>
        </ion-label>

        <div class="separador"></div>

        <!-- Password -->
        <li lines="none" class="entrada">
          <input (blur)="elmClicats.password=true" name="password" type="password" placeholder="contraseña"
            formControlName="password" required>
        </li>
        <!-- Error password -->
        <ion-label *ngIf="elmClicats.password">
          <li class="error" *ngIf="registerForm.hasError('required', 'password')">
            {{llistatErrors.passBuit}}</li>
          <li class="error" *ngIf="registerForm.hasError('minlength', 'password')">
            {{llistatErrors.passLength}}</li>
          <li class="error" *ngIf="registerForm.hasError('maxlength', 'password')">
            {{llistatErrors.passLengthMax}}</li>
        </ion-label>

        <div class="separador"></div>

        <!-- Confirmació password -->
        <li lines="none" class="entrada">
          <input (blur)="elmClicats.confirm=true" name="confirm" type="password" placeholder="repetir contraseña"
            formControlName="confirm" required>
        </li>

        <!-- Error confirmació -->
        <ion-label>
          <div *ngIf="elmClicats.confirm">
            <li class="error" *ngIf="registerForm.hasError('required', 'confirm')">
              {{llistatErrors.confBuit}}</li>
            <li class="error" *ngIf="registerForm.hasError('passwordNotMatch', 'confirm')">
              {{llistatErrors.confErr}}</li>
          </div>
        </ion-label>
      </ul>

      <!-- Botó -->
      <div padding>
        <ion-button fill="solid" size="large" type="submit" [disabled]="form.invalid" expand="block">
          {{llistatApartats.boto}}</ion-button>
      </div>
    </form>

    <ion-row class="login-row">
      <div class="login">
        {{llistatApartats.ferLogin}} <a routerLink='/login'>{{llistatApartats.login}}</a>
      </div>
    </ion-row>

  </div>
</ion-content>