<ion-content>
  <div class="background">
  </div>
  <div class="main">
    <form #form="ngForm" (ngSubmit)="register(form)" [formGroup]="registerForm" class="formulari">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

            <div class="titol">
              <h3>{{llistatApartats.titol}}</h3>
            </div>

            <div padding>
              <mat-form-field>

                <!-- Nom -->
                <ion-item>
                  <ion-input type="text" placeholder="Nombre" formControlName="nom" required></ion-input>
                </ion-item>
                <!-- Error nom -->

                <div>
                  <ion-item class="error" *ngIf="registerForm.hasError('required', 'nom')">
                    {{llistatErrors.nomBuit}}</ion-item>
                  <ion-item class="error" *ngIf="registerForm.hasError('minlength', 'nom')">
                    {{llistatErrors.nomLength}}</ion-item>
                  <ion-item class="error" *ngIf="registerForm.hasError('maxlength', 'nom')">
                    {{llistatErrors.nomLengthMax}}</ion-item>
                </div>

                <!-- Email -->
                <ion-item>
                  <ion-input name="email" type="email" placeholder="nombre@email.com" formControlName="email" required>
                  </ion-input>
                </ion-item>
                <!-- Error email -->
                <ion-item class="error" *ngIf="registerForm.hasError('required', 'email')">
                  {{llistatErrors.emailBuit}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('pattern', 'email')">
                  {{llistatErrors.emailFormat}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('maxlength', 'email')">
                  {{llistatErrors.emailLengthmax}}</ion-item>

                <!-- Password -->
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Contraseña" formControlName="password"
                    required>
                  </ion-input>
                </ion-item>
                <!-- Error password -->
                <ion-item class="error" *ngIf="registerForm.hasError('required', 'password')">
                  {{llistatErrors.passBuit}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('minlength', 'password')">
                  {{llistatErrors.passLength}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('maxlength', 'password')">
                  {{llistatErrors.passLengthMax}}</ion-item>

                <!-- Confirmació password -->
                <ion-item>
                  <ion-input name="confirm" type="password" placeholder="Repetir contraseña" formControlName="confirm"
                    required>
                  </ion-input>
                </ion-item>
              </mat-form-field>

            </div>
            <!-- Error confirmació -->
            <ion-item class="error" *ngIf="registerForm.hasError('required', 'confirm')">
              {{llistatErrors.confBuit}}</ion-item>
            <ion-item class="error" *ngIf="registerForm.hasError('passwordNotMatch', 'confirm')">
              {{llistatErrors.confErr}}</ion-item>

            <!-- Botó -->
            <div padding>
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">
                {{llistatApartats.boto}}</ion-button>
            </div>

            <!-- Error amb email ja existent -->
            <ion-item class="error" *ngIf="mailRepetit">
              {{llistatErrors.repeatMail}}</ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <ion-row class="login-row">
      <div class="login">
        {{llistatApartats.ferLogin}} <a routerLink='/login'>{{llistatApartats.login}}</a>
      </div>
    </ion-row>

  </div>

</ion-content>