<ion-content>
  <div class="background">
  </div>
  <div class="main">
    <form #form="ngForm" (ngSubmit)="register(form)" [formGroup]="registerForm" class="formulari">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

            <div class="titol">
              <h3>{{llistatApartats.titol}}</h3>
            </div>

            <div padding>
              <!--             <mat-form-field>
            </mat-form-field> -->

              <!-- Nom -->
              <ion-item>
                <input (blur)="elmClicats.nom=true" name="nom" type="text" placeholder="Nombre" formControlName="nom"
                  required>
              </ion-item>

              <!-- <input matInput [readOnly]="readOnly" > -->

              <!-- Error nom -->
              <ion-label *ngIf="elmClicats.nom">
                <ion-item class="error" *ngIf="registerForm.hasError('required', 'nom')">
                  {{llistatErrors.nomBuit}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('minlength', 'nom')">
                  {{llistatErrors.nomLength}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('maxlength', 'nom')">
                  {{llistatErrors.nomLengthMax}}</ion-item>
              </ion-label>

              <!-- Email -->
              <ion-item>
                <input (blur)="elmClicats.email=true" name="email" type="email" placeholder="nombre@email.com"
                  formControlName="email" required>
              </ion-item>
              <!-- Error email -->
              <ion-label *ngIf="elmClicats.email">
                <ion-item class="error" *ngIf="registerForm.hasError('required', 'email')">
                  {{llistatErrors.emailBuit}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('pattern', 'email')">
                  {{llistatErrors.emailFormat}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('maxlength', 'email')">
                  {{llistatErrors.emailLengthmax}}</ion-item>
              </ion-label>

              <!-- Password -->
              <ion-item>
                <input (blur)="elmClicats.password=true" name="password" type="password" placeholder="Contraseña"
                  formControlName="password" required>
              </ion-item>
              <!-- Error password -->
              <ion-label *ngIf="elmClicats.password">
                <ion-item class="error" *ngIf="registerForm.hasError('required', 'password')">
                  {{llistatErrors.passBuit}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('minlength', 'password')">
                  {{llistatErrors.passLength}}</ion-item>
                <ion-item class="error" *ngIf="registerForm.hasError('maxlength', 'password')">
                  {{llistatErrors.passLengthMax}}</ion-item>
              </ion-label>

              <!-- Confirmació password -->
              <ion-item>
                <input (blur)="elmClicats.confirm=true" name="confirm" type="password" placeholder="Repetir contraseña"
                  formControlName="confirm" required>
              </ion-item>
              <!-- </mat-form-field> -->

            </div>
            <!-- Error confirmació -->
            <ion-label *ngIf="elmClicats.confirm">
              <ion-item class="error" *ngIf="registerForm.hasError('required', 'confirm')">
                {{llistatErrors.confBuit}}</ion-item>
              <ion-item class="error" *ngIf="registerForm.hasError('passwordNotMatch', 'confirm')">
                {{llistatErrors.confErr}}</ion-item>
            </ion-label>

            <!-- Botó -->
            <div padding>
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">
                {{llistatApartats.boto}}</ion-button>
            </div>

            <!-- Error amb email ja existent -->
            <ion-label>
              <ion-item class="error" *ngIf="mailRepetit">
                {{llistatErrors.repeatMail}}</ion-item>
            </ion-label>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <ion-row class="login-row">
      <div class="login">
        {{llistatApartats.ferLogin}} <a routerLink='/login'>{{llistatApartats.login}}</a>
      </div>
    </ion-row>

  </div>

</ion-content>