ion-content {
    display: flex;

    .background {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/wallpaper.jpg");
        filter: opacity(40%);

        background-repeat: no-repeat;
        background-size: cover;
    }

    .main {
        position: fixed;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        color: rgb(0, 0, 0);
        font-weight: bold;

        .titol {
            display: flex;
            justify-content: center;
            margin-bottom: 80px;

            h3 {
                font-weight: bold;
                color: rgb(255, 199, 64);
                text-shadow: 2px 2px #000000;
                font-size: 36px;
                font-family: power-up;
            }
        }

        .formulari {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;

            input {
                border: 0;
                background-color: red;
            }

            .inputs {
                filter: opacity(92%);
            }

            .separador {
                height: 1vh;
            }

            // En web 0.8, mòbil 0.7
            ion-button.button-disabled {
                margin-top: 60px;
                opacity: 0.7;
            }

            ion-item {
                padding: 0;
                margin: 0;
            }
        }

        .login-row {
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
            }
        }

        .error {
            font-size: 13px;
            margin-bottom: 4vh;
            color: red;
        }
    }
}
